@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
h2{
    font-family: 'Poppins', sans-serif;
}
body{
   background-color: #F4F4F4;
}
.heading-content{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #1F1F1F;
}
/* Navbar */
.f-search{
    position: relative;
}
.f-search .submit{
    position: absolute;
    padding: 6px 20px;
    right: 0;
}
.f-search .submit i{
    font-size: 18px;
}
/* slider */
.cst-slider{
    background-color: #FFEAE8;
    position: relative;
}
.cst-slider .carousel-item img{
    
}

.cst-slider .carousel-item h2{
    font-weight: bold;
    font-size: 56px;
    line-height: 84px;
}
.cst-slider .carousel-item p{
    font-size: 16px;
    line-height: 26px;
}
.cst-slider .carousel-item .price{
    font-weight: 500;
    font-size: 41px;
    line-height: 61px;
    color: #FF136F;
    margin-top: 25px;
}
.cst-btn{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 16px 28px;
    margin-top: 25px;
}
.cst-btn i{
    padding-left: 9px;
}
/* Categories */
.categories .item h2{
    font-weight: 500;
    font-size: 36px;    
    line-height: 54px;
    color: #FFFFFF;
    margin-right: 20px;
}
.categories .item img{
    max-height:90px;
    max-width: 70px;
}
.categories .item-1{
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.categories .item-2{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.categories .item-3{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}

/* shoes */
.shoes .item, .backpack .item{
    background: #FFFFFF;
    border-radius: 20px;
    padding: 24px 0;
}
.shoes .item h5, .backpack .item h5{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #1F1F1F;
}
.shoes .item p, .backpack .item p{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #4E4E4E;
}
.shoes .item .price, .backpack .item .price{ 
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.shoes .item .cst-btn, .backpack .item .cst-btn{ 
    width: 168px;
    height: 52px;
    left: 69.5px;
    top: calc(50% - 52px/2 + 104px);
    background: #000000;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}